
<h1>Please sign in:</h1>

<%= form_for :user, url: '/sessions/create' do |f| %>
	<%= render 'form', f: f %>
	<%= f.submit 'Sign In' %>
<% end %>	

<h2>Or sign in with Github: <%= link_to(image_tag("Github.jpg"), "/auth/github") %></h2>

