
<ul>
<li>Wod Name: <%= wod.title %></li>
<li>Wod Type: For <%= wod.wod_type %></li>
<li>Wod Movements: <ul><% wod.movements.each do |move| %>
	<li><%= move.quantity %> <%= move.name %></li>
<% end %></ul></li>	
_____________________
</ul>
