
<h1>  These are your current PRs</h1>
<ul> <% usermovements.each do |move| %>
		<% if move.pr %>
			<li><%= move.name %></li>
			<li><%= move.date %></li>
			<li><%= move.result %></li>
		<% end %>		
	 <% end %>
</ul>	  
