
<h1>These are your movement results</h1>

<ul>
	<% @usermovements.each do |usermovement| %>
		<%= render 'show', usermovement: usermovement %>
	<% end %>	
</ul>

<h3><%= link_to "Enter a new movement result", new_user_usermovement_path(current_user) %></h3><br>

<%= render 'prs', usermovements: @usermovements %>



