
<h1>These are your movement results</h1>

<ul>
	<% @usermovements.each do |usermovement| %>
		<% movement = @movements.find_by(name: usermovement.name) %>
		<%= render 'show', usermovement: usermovement, movement: @movement %>
	<% end %>	
</ul>