
<h1>Create a new movement, please fill in all fields:</h1>

<%= form_for @movement do |f| %>
	<%= render 'application/errors', target: @umovement %>
	<%= render 'form', f: f %>
	<%= f.submit %>	
<% end %>	