
<h1>The New Movement:</h1>

<ul>
	<%= render 'show', movement: @movement %>
</ul>

<%= link_to "Edit Movement", edit_admin_movement_path(@movement) %><br>
<%= link_to "Delete", admin_movement_path(@movement), method: :delete %> 	
