
body {
	background: url(gym.png);
}

div.container {
  width: 100%;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

nav {
  position: relative;
  max-width: 500px;
  margin: 0;
  padding: 1em;
}

main {
  background: lightgreen;
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}

div.decorate {
  float: left;
  background: lightgreen;
  width: 50%;
}
