
<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Sign out", 'session/destroy', :method => :delete %></li>
		<li><%= link_to "Sign in", 'session/new' %></li>
		<li><%= link_to "Sign up", new_user_path %></li>
	</ul>
</nav>		